<div>
    <ul>
        <li style="margin-left:1px;font-size:x-small;"><img src="assets/call.jpg"  width="30" height="10"> +91 XXXXXXXXXX | +91 XXXXXXXXXX  </li>
        <li style="margin-left:7px;font-size:x-small;"><img src="assets/message.png"  width="30" height="10"> reactiveproductstore@ibm.com</li>
        <li style="margin-left:9px;font-size:x-small;"><img src="assets/location.jpg"  width="30" height="10">location</li>
        <a (click)="logout()">  <li style="float:right"><img src="assets/Logout.png"  width="40" height="20"> </li></a>
    </ul> 
</div>
<div class=header style="border-bottom: 1px solid lightgray;border-top:1px solid lightgray;">
    <img src="assets/ibmpos_blue.png"  width="90" height="50" style="margin-left:10px ;"> 
</div>
<div class=return>
 <button style="float:right" (click) = 'audit()'>Audit</button>   
 <!-- <a style="float:right" href="/orderdetails" (click) ='audit()'>Audit</a>  -->
<img style="margin-left: 35%;"  src="assets/tick.png"  width="50" height="50">   
<h4 style="margin-left: 15%;color: blueviolet;">Congrats! Your Order has been Accepted.</h4>
<button style="margin-left: 25%;color: blueviolet;" (click) = 'return()'>Return To Product list</button>
<br><br>
</div>