<div>
    <ul>
        <li style="margin-left:1px;font-size:x-small;"><img src="assets/call.jpg"  width="30" height="10"> +91 XXXXXXXXXX | +91 XXXXXXXXXX  </li>
        <li style="margin-left:7px;font-size:x-small;"><img src="assets/message.png"  width="30" height="10"> reactiveproductstore@ibm.com</li>
        <li style="margin-left:9px;font-size:x-small;"><img src="assets/location.jpg"  width="30" height="10">location</li>
        <a (click)="logout()">  <li style="float:right"><img src="assets/Logout.png"  width="40" height="20"> </li></a>
    </ul> 
</div>
<div class=header style="border-bottom: 1px solid lightgray;border-top:1px solid lightgray;">
    <img src="assets/ibmpos_blue.png"  width="90" height="50" style="margin-left:10px ;"> 
</div>
<br> 
<div class=middle>
    <img src="assets/menu.png"  width="130%" height="220%" style="margin-left:10px ;">    
   </div>
   
<div>
    <table class=aside id="t01">
        <tr>
          <th>Special Menu</th>
        </tr>
        <tr>
            <td></td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <td></td>
          </tr>
        </table>
</div>
<br>
<div style="border:1px solid black ; width: 9%;margin-left:10px ;border-radius: 16px;" class=aside>
<span style="margin-left:10px ;"><img src="assets/instagram.png"  width="28" height="30"> </span>
<span style="margin-left:10px ;"><img src="assets/facebook.png"  width="28" height="30"> </span>
<span style="float:right"><img src="assets/twitter.png"  width="28" height="30"> </span>
</div>
<div class=right>
    <img src="assets/computer.png"  width="100%" height="50%" > 
    <label style="margin-left: 10px;">Browse Product List</label> 
    <br>  
  <a (click)="gotoProdListing()">  <img src="assets/continue.png"  width="100%" height="30%" ></a>
   </div> 

