<div class="container">
    <h1>Register</h1>
    <form  #uForm="ngForm" (ngSubmit)="onSubmit(uForm)">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name"
        ngModel
         required
         #name="ngModel">
         <span [hidden]="name.valid && name.touched">Invalid</span>
      </div>
      <div class="form-group">
        <label for="name">Password</label>
        <input type="password" class="form-control" id="passsword"  name="password" ngModel
         required
         #password="ngModel">
         <span *ngIf="password.invalid && password.touched">Invalid</span>
      </div>

      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email"  ngModel
        #email="ngModel">
        <span class=help-block *ngIf="email.invalid && email.touched">
            Enter a valid email id
        </span>
      </div>

      <div class="form-group">
        <label for="power">Subscriptions</label>
        <select class="form-control" id="subscriptions"  [ngModel]="selectedsubscription"
         name="subscription" required>
          <option *ngFor="let pow of subscription" [value]="pow">{{pow}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-success"  >Submit</button>

    </form>
</div>